NEXT_PUBLIC_CT_PROJECT_KEY=thuanlv-b2c
NEXT_PUBLIC_CT_API_URL=https://api.australia-southeast1.gcp.commercetools.com
NEXT_PUBLIC_CT_AUTH_URL=https://auth.australia-southeast1.gcp.commercetools.com
CT_CLIENT_ID=YOUR_CLIENT_ID
CT_CLIENT_SECRET=YOUR_CLIENT_SECRET
NEXT_PUBLIC_CT_CHECKOUT_HOST=https://checkout.commercetools.com

# Server-only Mailtrap SMTP configuration
APP_URL=http://localhost:3000
MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=YOUR_MAILTRAP_USERNAME
MAIL_PASSWORD=YOUR_MAILTRAP_PASSWORD
MAIL_FROM="Marketly <from@example.com>"
MAIL_SUPPORT_TO=support@example.com