NEXT_PUBLIC_CT_PROJECT_KEY=thuanlv-b2c
NEXT_PUBLIC_CT_API_URL=https://api.australia-southeast1.gcp.commercetools.com
NEXT_PUBLIC_CT_AUTH_URL=https://auth.australia-southeast1.gcp.commercetools.com
CT_CLIENT_ID=YOUR_CLIENT_ID
CT_CLIENT_SECRET=YOUR_CLIENT_SECRET
NEXT_PUBLIC_CT_CHECKOUT_HOST=https://checkout.commercetools.com
